<form [formGroup]="parentForm" (ngSubmit)="onFormSubmit()">
  <mat-stepper [linear]="isLinear" #stepper>
    <!-- Step 1: Father Information -->
    <mat-step [stepControl]="fatherForm">
      <div formGroupName="fatherForm">
        <ng-template matStepLabel>Father Information</ng-template>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="nameFather" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>National ID</mat-label>
          <input matInput placeholder="National ID" formControlName="nationalIdFather" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passport ID</mat-label>
          <input matInput placeholder="Passport ID" formControlName="passportIdFather">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phoneFather" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Job</mat-label>
          <input matInput placeholder="Job" formControlName="jobFather">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="nationalityFather">
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
              {{ nationality.nameNationalitie }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Blood Type</mat-label>
          <mat-select formControlName="bloodTypeFather">
            <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
              {{ bloodType.nameBlood }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Religion</mat-label>
          <mat-select formControlName="religionFather">
            <mat-option *ngFor="let religion of religions" [value]="religion">
              {{ religion.nameReligion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="addressFather">
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <!-- Step 2: Mother Information -->
    <mat-step [stepControl]="motherForm" label="Mother Information">
      <div formGroupName="motherForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="nameMother" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>National ID</mat-label>
          <input matInput placeholder="National ID" formControlName="nationalIdMother" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Passport ID</mat-label>
          <input matInput placeholder="Passport ID" formControlName="passportIdMother">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Phone" formControlName="phoneMother" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Job</mat-label>
          <input matInput placeholder="Job" formControlName="jobMother">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <mat-select formControlName="nationalityMother">
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality">
              {{ nationality.nameNationalitie }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Blood Type</mat-label>
          <mat-select formControlName="bloodTypeMother">
            <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">
              {{ bloodType.nameBlood }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Religion</mat-label>
          <mat-select formControlName="religionMother">
            <mat-option *ngFor="let religion of religions" [value]="religion">
              {{ religion.nameReligion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="addressMother">
        </mat-form-field>
        <input type="file" (change)="onAttachmentChange($event)" accept=".pdf" />
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button mat-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <p>You are now done.</p>

      {{this.parentForm.value | json}}
      <div>
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button [disabled]="!parentForm.valid">Save</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  </form>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
