<mat-toolbar color="primary">
  <span>Sections</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditSectionForm()">
    ADD Section
  </button>
</mat-toolbar>

<div class="main-body">

  <mat-accordion>
    <ng-container *ngFor="let gradeSection of sectionsByGrade">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ gradeSection.grade.nameGrade }}
        </mat-expansion-panel-header>

        <div class="table-container">
          <table mat-table [dataSource]="gradeSection.sections" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nameOfSection">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Section Name </th>
              <td mat-cell *matCellDef="let row"> {{row.name_section}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let row"> {{ row.status }} </td>
            </ng-container>

            <ng-container matColumnDef="classroom">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Classroom </th>
              <td mat-cell *matCellDef="let row"> {{row.myClass.nameOfClass}}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button color="primary" (click)="openEditForm(row)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteSection(row.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>

      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
